[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
source-sprout-social = {editable = true, file = "file:///Users/emilycogsdill/Documents/GitHub/airbyte-source-sprout-social"}

[dev-packages]

[requires]
python_version = "3.10"
